.gradle/
build/
.idea/
.dockerignore
.gitignore
.git
api/build/
api-events/build/
test-utils/build/
!gradle/wrapper/gradle-wrapper.jar

.idea

.kotlin

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
